.preNav{
    background-color: rgb(29, 28, 28);
    display: grid;
    grid-template-columns: 5fr 2fr;
    color: white;
  
}
.preNav > div{
    padding: 0 4vmax;
    display: flex;
    align-items: center;
}

.preNav > div svg{
    fill: rgb(200, 200, 200);
}
.preNav > div svg:hover{
    fill: rgb(255, 255, 255);

}

.preNav > div > span{
    color: rgba(180, 180, 180, 0.644);
    font-size: 0.8vmax;
    font-weight: 100;
}
.preNav > div > a{
    color: rgb(180, 180, 180);
    font-size: 0.9vmax;
    font-weight: 300;
    margin: 1vmax;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.preNav > div > a:hover{
    color: white;
}
.last{
    display: flex;
    align-items: center;
    justify-content: center;
}